<!-- reference for fragments https://www.thymeleaf.org/doc/articles/layouts.html-->
<header>
    <h1>Code FellowShip</h1>
    <h2>We connect coders</h2>

    <p th:if="${principal}" th:text="'Hi, ' + ${principal.getName()} + '. You are currently logged in'"></p>
    <p th:if="${principal}"><a href="/logout">Logout</a></p>
    <p th:if="${principal}"><a href="/myprofile">My Profile</a></p>
    <p th:if="${principal}"><a href="/feed">My Feed</a></p>
    <p th:if="${principal}"><a href="/users">Browse Users</a></p>

    <nav>
        <li><a href="/">home</a></li>
        <li th:unless="${principal}"><a href="/login">login</a></li>
        <li th:unless="${principal}"><a href="/signup">signup</a></li>
    </nav>
</header>