
<div th:fragment="post">
    <div th:each="post : ${user.getPosts()}">
        <p th:text="'Posted by ' + ${user.getUsername()} + ' on ' + ${post.getCreateAt()}"></p>
        <p th:text="${post.getBody()}"></p>
    </div>
</div>

<div th:fragment="followPosts" th:each="follow : ${user.getFollowing()}">
    <div th:each="followPost : ${follow.getPosts()}">
        <p>Posted by <a th:href="'/user/' + ${follow.getId()}" th:text="${follow.getUsername()}"></a> on <span th:text="${followPost.getCreateAt()}"></span></p>
        <p th:text="${followPost.getBody()}"></p>
    </div>
</div>

