<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<header th:replace="fragments/header :: header"></header>


<h1>Signup!!!!</h1>

    <form action="/signup" method="POST">
        <legend>Sign Up Form</legend>
        <p>Required Fields:</p>
        Username: <input type="text" name="username">
        Password: <input type="password" name="password">
        Email Address: <input type="text" name="email">
        <p>Optional Fields:</p>
        First Name: <input type="text" name="firstName">
        Last Name: <input type="text" name="lastName">
        Date of Birth: <input type="date" name="dateOfBirth">
        Bio: <input type="text" name="bio">
        <input type="submit" value="Sign up">
    </form>
</body>
</html>